<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
 <bean class="com.SpringCore.Student" name="student1">
    <property name="id"> 
          <value>123</value>
    </property>
     <property name="name"> 
          <value>Niranjan dhaygaude</value>
    </property>
     <property name="city"> 
          <value>Khandala
          </value>
    </property>
 
 </bean>
 <bean class="com.SpringCore.Student" name="student2">
    <property name="id" value="123" /> 
          
     <property name="name" value="niranjan" /> 
          
     <property name="city"  value="pune" /> 
          
 
 </bean>
  <bean class="com.SpringCore.Student" name="student3" p:id="111" p:name="rahul"/>
 
 </beans>